@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-thunder border-[3px] border-purple rounded-xl px-8 py-3 font-lato font-bold text-white text-xl hover:bg-purple duration-300 ease-in-out transition-all;
  }

  .nav-link {
    @apply text-thunder text-base font-lato;
  }
  .section-heading {
    @apply text-thunder  font-bold font-lato text-2xl  sm:text-3xl lg:text-[40px];
  }
  .input-style {
    @apply text-sm bg-transparent placeholder:text-thunder text-black lg:text-base pt-1.5 pb-2.5 border-thunder focus:outline-none border-b  font-light font-inter;
  }
}
/* .prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none !important;
}
.prev.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none !important;
} */
.swiper-backface-hidden .swiper-slide {
  height: auto !important;
}
.gradient-text {
  background: linear-gradient(104deg, #0c1100 -9.62%, #50017e 102.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imageDiv {
  position: relative;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.imageDiv button {
  font-size: 14px;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
  transform-origin: top left;
}

.imageDiv::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 444;
  transition: all 0.3s ease-in-out;
}

.imageDiv:hover button {
  font-size: 26px !important;
  transform: scale(1.3);
  width: calc(100% + 3px);
  height: calc(100% + 1px);
}

.imageDiv:hover::before {
  width: calc(100% + 3px);
  height: calc(100% + 1px);
  left: 0;
  top: 0;
}
